{% extends 'navbar.html' %}
{% block additional_content %}

<h3> Borrowed Books</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Student.No.</th>
        <th scope="col">Student Name</th>
        <th scope="col">Book Name</th>
        <th scope="col">Due Date</th>
      </tr>
    </thead>
    <tbody>

        {% for borrow in page_obj %}
        <tr>
        <th scope="row">{{borrow.borrower.id}}</th>
        <td>{{borrow.borrower}}</td>
        <td>{{borrow.book}}</td>
        <td>{{borrow.due_date}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

    <div class="pagination" >
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>

  {% endblock %}