{% extends 'navbar.html' %}
{% block additional_content %}

<h3> All Books</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sr.No.</th>
        <th scope="col">Book Name</th>
        <th scope="col">Auther</th>
        <th scope="col">Available Copies</th>
        <th scope="col">Total Copies</th>
        <th scope="col">Availabilty</th>


      </tr>
    </thead>
    <tbody>

        {% for book in all_books %}
        <tr>
        <th scope="row">{{book.id}}</th>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.available_copies}}</td>
        <td>{{book.total_copies}}</td>
        <td>{{book.availability}}</td>


        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% endblock %}